{% include "header.html" %}

<div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">

          <div class="m-4 h-100 d-flex align-items-center justify-content-center">
              <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
              </form>
          </div>

          <div class="m-2 h-100 d-flex align-items-center justify-content-center">
              <!-- Show Uploaded Picture -->
              {% if filename %}
                <!-- <img src="url_for('static/uploads', filename={{filename}})"/>-->
                <img id="user-img" src="static/uploads/{{filename}}" style="width: 30rem"/>
              {% endif %}
          </div>

          {% if hex_color %}
              <div class="m-2 h-100 d-flex align-items-center justify-content-center">
                  <h4 id="instructions">Click on the image to select a color</h4>
              </div>
          <!-- Color Swatches -->
              <div class="m-2 h-100 d-flex align-items-center justify-content-center">
                <div>
                    <div id="color-swatch-1" class="color-swatch" data-num="1" style="border-color: red; border-width: medium"></div>
                    <p id="color-text-1" class="hex-color-text text-center"></p>
                </div>
                <div>
                    <div id="color-swatch-2" class="color-swatch" data-num="2"></div>
                    <p id="color-text-2" class="hex-color-text text-center"></p>
                </div>
                <div>
                    <div id="color-swatch-3" class="color-swatch" data-num="3"></div>
                    <p id="color-text-3" class="hex-color-text text-center"></p>
                </div>
                <div>
                    <div id="color-swatch-4" class="color-swatch" data-num="4"></div>
                    <p id="color-text-4" class="hex-color-text text-center"></p>
                </div>
                <div>
                    <div id="color-swatch-5" class="color-swatch" data-num="5"></div>
                    <p id="color-text-5" class="hex-color-text text-center"></p>
                </div>
              </div>

          <div class="m-2 h-100 d-flex align-items-center justify-content-center">
                      <!-- Get Fabrics Button                     -->
            <button type="button" id="get-fabric-btn" class="btn btn-primary btn-lg">Find Matching Fabrics</button>
          </div>


              <!-- Fabric Suggestions Swatches -->
                <div id="fabric-list" class="m-2 h-100 d-flex align-items-center justify-content-center">
<!--                    <div class="m-2 h-100 d-flex align-items-center justify-content-center">-->
<!--                        <img id="fabric-img-1" src="static/assets/img/search.png" style="width: 5rem">-->
<!--                    </div>-->
<!--                        <p id="fabric-text-1" class="hex-color-text text-center"></p>-->
<!--                    </div>-->
              </div>

    <div class="container">
        <div id="fabric-row" class="row">
        </div>
    </div>


<!--<div id="" class="m-2 h-100 d-flex flex-row flex-wrap align-items-center justify-content-center">-->
<!--    <div class="container">-->
<!--        <div id="fabric-row" class="row">-->
<!--             <div class="col">-->
<!--      <img src="https://www.robertkaufman.com/assets/fabric/thumbs/K001-1849.jpg?v=1746121779" style="width: 5rem;"><p class="fabric-text">NACHO CHEESE</p>-->
<!--    </div>-->
<!--     <div class="col">-->
<!--      <img src="https://www.robertkaufman.com/assets/fabric/thumbs/K001-851.jpg?v=1746121779" style="width: 5rem;"><p class="fabric-text">MAC AND CHEESE</p>-->
<!--    </div>-->
<!--     <div class="col">-->
<!--      <img src="https://www.robertkaufman.com/assets/fabric/thumbs/K001-1320.jpg?v=1746121779" style="width: 5rem;"><p class="fabric-text">SAFFRON</p>-->
<!--    </div>-->
<!--     <div class="col">-->
<!--      <img src="https://www.robertkaufman.com/assets/fabric/thumbs/K001-474.jpg?v=1746121779" style="width: 5rem;"><p class="fabric-text">GOLDFISH</p>-->
<!--    </div>-->
<!--     <div class="col">-->
<!--      <img src="https://www.robertkaufman.com/assets/fabric/thumbs/K001-1479.jpg?v=1746121779" style="width: 5rem;"><p class="fabric-text">AMBER</p>-->
<!--    </div>-->
<!--     <div class="col">-->
<!--      <img src="https://www.robertkaufman.com/assets/fabric/thumbs/K001-1482.jpg?v=1746121779" style="width: 5rem;"><p class="fabric-text">SCHOOL BUS</p>-->
<!--      </div>-->
<!--        </div>-->

<!-- </div>-->
          {% endif %}

      </div>
</div>

<script>
        function updateVariable() {
            var newValue = document.getElementById("hex-box").value;
            $.ajax({
                url: '/update_variable',
                type: 'POST',
                data: { new_value: newValue },
                success: function(response) {
                    document.getElementById("variable").textContent = response.variable;
                }
            });
        }
    </script>

{% include "footer.html" %}
